/*colors*/
.bgColor1 {
    background-color: #949381;
}
.bgColor2 {
    background-color: #E9E9E9;
}
.bgColor3 {
    background-color: #D0EAE9;
}
.bgColor4 {
    background-color: #282828;
}
.bgColor5 {
    background-color: #FFFFFF;
}

/*text*/
.textColor1{
    color: white;
}
.textColor2{
    color: #FFDD0F;
}
.textColor3{
    color: #444444;
}
.textColor4{
    color: #EEEEEE;
}
.textColor5{
    color: #B5B5B5;
}
.textColor6{
    color: #414141;
}

.fontSize1{
    font-size: 35px;
}
.fontSize2{
    font-size: 24px;
}
.fontSize3{
    font-size: 16px;
}
.fontSize4{
    font-size: 15px;
}
.fontSize5{
    font-size: 14px;
}

/*general style*/
body{
    direction: rtl;
    text-align: right;
    font-family: Arial;
}
.warp{
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}
.clear{
    clear: both;
}

/*top section*/
.topstrip{
    height: 90px;
}
.stripWarp{
    max-width: 900px;
    margin: 0 auto;
    height: 90px;
    padding: 30px;
    box-sizing: border-box;
}
.topstrip h2{
    float: right;
    margin: 0;
}
[src="img/tinypng-logo.png"]{
    height: 30px;
    float: left;
    margin: 0;
}

/*nav*/
nav{
    float: left;
    display: inline-block;
}
nav ul{
    list-style: none;
    margin: 0;
}
nav ul li{
    height: 43px;
    width: 150px;
    border-bottom: 1px dotted #939280;
    padding:11px 30px 11px 0;
    box-sizing: border-box;
}
nav ul li:first-child{
    height: 50px;
}
nav ul li:hover{
    background: #FFE022;
    color: black;
}

/*registration section*/
form{
    width: 450px;
    height: 480px;
    position: relative;
}
.registration{
    height: 595px;
}
.registration .title{
    padding: 0 0 22px 0;
    margin: 0;
}
.registration .subtitle{
    margin: 0 0 10px 0;
}
.registration .description{
    width: 450px;
    padding: 0 0 10px 0;
    border-bottom: solid 1px white;
    margin: 0;
}
.registration .description:nth-child(3){
    width: 450px;
    padding: 10px 0;
    margin: 0;
}
.cell{
    margin: 13px 0;
}
.cell:first-child{
    margin-top: 20px;
}
label{
    width: 100px;
    display: inline-block;
}
input{
    margin: 0;
    border: 0;
    padding: 0 20px;
    width: 310px;
    height: 39px;
}
[type="submit"]{
    position: absolute;
    left: 0px;
    box-sizing: content-box;
}

/*information section*/
.information{
    height: 820px;
}
.information h2{
    margin: 0;
}
.information h3{
    margin: 0 0 20px 0;
}
.information p{
    margin: 0;
}
.information .item{
    height: 290px;
    width:  150px;
    margin: 25px 0 25px 37px;
    float: right;
}
.information .item:nth-child(n+7){
    margin: 25px 0 0 37px;
}
.information .item:nth-child(6n){
    margin: 25px 0 0 0;
}
.information img{
    width: 110px;

    padding: 20px;
    margin: 0 0 25px 0;
    border-radius: 20px;
}
.item:nth-child(2) img{
    background: #FDF8DA;
}
.item:nth-child(3) img{
    background: #EBD7E1;
}
.item:nth-child(4) img{
    background: #FFAD8D;
}
.item:nth-child(5) img{
    background: #C2DEF3;
}
.item:nth-child(6) img{
    background: #C0ADF0;
}
.item:nth-child(8) img{
    background: #D2EDDC;
}
.item:nth-child(9) img{
    background: #9ED5CB;
}
.item:nth-child(10) img{
    background: #FCDFD7;
}
.item:nth-child(11) img{
    background: #F3ADD1;
}
.item:nth-child(12) img{
    background: #E4CEE5;
}
div.line{
    border-bottom: dotted 1px;
}
